body {
    margin: 0;
    padding: 0;
    font-family: "Arial", sans-serif;
    background-color: #000;
  }
  
  .login-page {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background: url("../images/certificate-bg.png") no-repeat center center/cover;
    background-size: cover;
  }
  
  .login-container {
    display: flex;
    width: 50%;
    height: 60%;
    background: rgba(0, 0, 0, 0.127);
    border-radius: 16px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.284);
    overflow: hidden;
  }
  
  .left-section {
    flex: 1;
    padding: 50px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #00000027;
  }
  
  .left-section h1 {
    font-size: 2rem;
    color: #ff6600;
    margin-bottom: 16px;
  }
  
  .left-section h2 {
    font-size: 2.5rem;
    font-weight: bold;
  }
  
  .right-section {
    flex: 1;
    padding: 40px;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .right-section h2 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  
  .right-section p {
    font-size: 0.9rem;
    margin-bottom: 24px;
  }
  
  .input-group {
    position: relative;
    margin-bottom: 16px;
  }
  
  .input-group input {
    width: 85%;
    padding: 12px 16px;
    padding-right: 40px;
    border: 1px solid #444;
    border-radius: 8px;
    background: #222;
    color: #fff;
    font-size: 1rem;
  }
  
  .input-group .icon-user,
  .input-group .icon-eye {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 12px;
    font-size: 1.2rem;
    color: #ff6600;
  }
  
  .register-link {
    margin: 12px 0;
    font-size: 0.9rem;
    color: #ff6600;
    cursor: pointer;
  }
  
  .start-button {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    font-weight: bold;
    color: #fff;
    background-color: #ff6600;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .start-button:hover {
    background-color: #e65c00;
  }
  